

<div class="text-center">

    <a asp-controller="BulkyBooks" asp-action="Index">bulkybooks</a>
    <a asp-controller="BulkyBooks" asp-action="Create">Register book</a>
    <a asp-controller="Category" asp-action="Demo">Demo</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
